@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #181818;
    --white: #FFFFFF;
    --lightgray: #F2F2F4;
    --red: #F13327;
    --green: #25B61F;
    --gray: #6A6A6A;
    --orange: #F19327;
}

*:focus-visible {
    outline: none;
}

body {
    color: var(--black);
}

.poppins {
    font-family: 'Poppins';
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.title {
    font-family: 'Poppins';
    font-size: 1.5625rem;
    font-weight: 600;
}

.subtitle {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
}

.accent {
    font-family: 'Poppins';
    font-size: 0.875rem;
    font-weight: 600;
}

.normal {
    font-family: 'Poppins';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.bg-E9E9EB {
    background: #E9E9EB;
}

.user-role {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.w-236px {
    width: 236px;
}

.w-276px {
    width: 276px;
}

.w-161px {
    width: 161px;
}

.w-1250px {
    width: 1250px;
}

.w-300px {
    width: 300px;
}

.w-388px {
    width: 388px;
}

.w-500px {
    width: 500px;
}

.w-156px {
    width: 156px;
}

.h-394px {
    height: 394px;
}

.h-37px {
    height: 37px;
}


.max-w-1250px {
    max-width: 1250px;
}

.p-25px {
    padding: 25px;
}

.px-25px {
    padding-top: 25px;
    padding-bottom: 25px;
}

.px-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mb-35px {
    margin-bottom: 35px;
}

.gap-y-5px {
    row-gap: 5px;
}

.gap-y-15px {
    row-gap: 15px;
}

.gap-y-25px {
    row-gap: 25px;
}

.gap-y-35px {
    row-gap: 35px;
}

.gap-y-50px {
    row-gap: 50px;
}

.gap-x-20px {
    column-gap: 20px;
}

.gap-x-25px {
    column-gap: 25px;
}



.rounded-10px {
    border-radius: 10px;
}

.rounded-20px {
    border-radius: 20px;
}

.rounded-50px {
    border-radius: 50px;
}

