@tailwind base;
@tailwind components;
@tailwind utilities;

.w-236px {
    width: 236px;
}

.w-276px {
    width: 276px;
}

.w-161px {
    width: 161px;
}

.w-1250px {
    width: 1250px;
}

.w-300px {
    width: 300px;
}

.w-388px {
    width: 388px;
}

.w-500px {
    width: 500px;
}

.w-156px {
    width: 156px;
}

.h-394px {
    height: 394px;
}

.h-37px {
    height: 37px;
}


.p-25px {
    padding: 25px;
}

.px-25px {
    padding-top: 25px;
    padding-bottom: 25px;
}

.px-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mb-35px {
    margin-bottom: 35px;
}

.gap-y-5px {
    row-gap: 5px;
}

.gap-y-15px {
    row-gap: 15px;
}

.gap-y-25px {
    row-gap: 25px;
}

.gap-x-20px {
    column-gap: 20px;
}

.gap-x-25px {
    column-gap: 25px;
}

.rounded-10px {
    border-radius: 10px;
}

.rounded-20px {
    border-radius: 20px;
}

.rounded-50px {
    border-radius: 50px;
}

